@model EngineerCodeFirst.Models.History

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>History</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Driver.DriverName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Driver.DriverInfo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Bus.RegNum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bus.RegNum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndTime)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.HistoryID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
